body { 
	background-color: #ffffff;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: small;
	margin: 0px;
}
a:link { text-decoration: none; color: #000000; }
a:visited { text-decoration: none; color: #000000; }
a:hover, a:active { text-decoration: underline; color: #cc6600; }
.tableRow{
	display:table-row;
}

.tableCell{
	vertical-align: top;
	float: left;
}

/* .center{
	text-align: center;
	width: 500px;
	margin-left: 200px;
	float: inherit;
} */


header{
	background-color: #E6E6FA;
	margin: 15px 15px 15px 15px;
	height: 110px;
	width: 1205px;
	
}

#actionLogo{
	background-color: #E6E6FA;
	margin-left:5px;
 	float:left;
} 

#actionTitle{
	position :absolute;
	text-align: left;
	margin-left:20px;
 	
}

footer {
	width: 1175px;
	height: 60px;
	background-color: #E6E6FA;
	color: #000000;
	text-align: left;
	padding: 15px;
	margin: 15px 15px 15px 15px;
	font-size: 100%;
}

#tableFooter{
	display:table; 
}
#tableFooterRow{
	display: table-row;
}

section#groupName {
	display:table-cell;
	vertical-align: top;
	width: 250px;	
}

section#alliance {
	display:table-cell;
	vertical-align: top;
	width: 80px;	
}

section#naver {
	display:table-cell;
	vertical-align: top;
	width: 150px;	
}

section#google {
	display:table-cell;
	vertical-align: top;
	width: 150px;	
}

section#daum {
	display:table-cell;
	vertical-align: top;
	width: 200px;	
}


section#notAlliance {
	display:table-cell;
	vertical-align: top;
	width: 80px;	
}

section#auction {
	display:table-cell;
	vertical-align: top;
	width: 150px;	
}


div.sidebar{
	background-color: #E6E6FA;
	color: #000000;
	float:left;
	margin-left: 15px;
	width: 290px;
	height: 750px;
}
 #sidebarMargin{
	background-color: #ffffff;
 	/* border-style:double;
 	border-color:blue; */
	margin: 5px;
	font-size: 110%;
} 

#sidebartable{
	border-spacing: 15px;
	font-size: 150%;
}

#menulabel{
}

.main{
	vertical-align: top;
	margin:15px 30px 45px 30px;
	height: 180px;
	width: 350px;
	float: left;
	font-size: medium;
}

#categorytable{
	background-color: #E6E6FA;
	color: #000000;
	margin-left: 15px;
	width:900px;
	height: 30px;
}


.category{
	margin-left: 25px;
	font-size:100%;
}


.buttonbar{
	background-color: #ffffff;
	text-align:center;
	/* margin-left: 50px; */
	color: #000000;
}






