body { 
	background-color: #b5a789;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: small;
	margin: 0px;
}

header{
	background-color: #675c47;
	text-align: center;
	margin: 15px 15px 15px 15px;
	height: 110px;
}

#actionLogo{
	margin-left:10px;
 	float:left;
} 

#actionTitle{
	margin-right:10px;
 	float: right;
}



	
footer {
		
	background-color: #675c47;
	color: #efe5d0;
	text-align: left;
	padding: 15px;
	margin: 15px;
	
	font-size: 95%;
}

#tableFooter{
	background-color: #675c47;
	color: #efe5d0;
	display:table; 
}
#tableFooterRow{
	display: table-row;
	
}

section#groupName {
	display:table-cell;
	vertical-align: top;
	width: 250px;	
}

section#alliance {
	display:table-cell;
	vertical-align: top;
	width: 80px;	
}

section#naver {
	display:table-cell;
	vertical-align: top;
	width: 150px;	
}

section#google {
	display:table-cell;
	vertical-align: top;
	width: 150px;	
}

section#daum {
	display:table-cell;
	vertical-align: top;
	width: 200px;	
}


section#notAlliance {
	display:table-cell;
	vertical-align: top;
	width: 80px;	
}

section#auction {
	display:table-cell;
	vertical-align: top;
	width: 150px;	
}















aside {
	display:table-cell;
	
	background: #efe5d0 url(images/background.gif) bottom right;
	font-size: 105%;
	padding: 15px;
	margin: 0px 10px 10px 10px;
	vertical-align: top;
	
	/* position :absolute;
	top: 128px;
	right:0px;
		
	width: 280px; */
	
}

