/*  body { 
	background-color: #ffffff;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: small;
	margin: auto;
	width: 1024px;
}
a:link { text-decoration: none; color: #000000; }
a:visited { text-decoration: none; color: #000000; }
a:hover, a:active { text-decoration: underline; color: #cc6600; }
.tableRow{
	display:table-row;
}

.tableCell{
	display:table-cell;
	vertical-align: top;
}

header{
	background-color: #FAFAD2;
	margin: 15px 15px 10px 10px;
	height: 110px;
	width: 1000px;
}


#actionLogo{
	background-color: #E6E6FA;
	margin-left:5px;
	margin-top: 5px;
	margin-right:10px;
 	float:left;
} 

�˻�â// ī�װ? ��� 
.headermid{
	width: 400px;
	display: table-cell;
	vertical-align: middle;
}

.buttonbar{
	width:350px;
	height:20px;
	margin-left:50px;
	display:table-row;
}


#categorytable{
	width:350px;
	height:20px;
	display: table-row;
	margin-left: 10px;
}


�α���â ��� CSS
#loginck{
	display: table-cell;
	vertical-align:middle;
	width: 400px;
	height: 110px;
}

.loginlabel{
	display: table-row;
}
#findid{
	display: table-row;
}

���� �� ���� �� 

ȸ�� ���԰�� �Է�â�� ������

#registermain{
	display: table-cell;
	width: 500px;
	height: 300px;

}





�̵���� �׼� Ÿ��Ʋ CSS
.sidebar{
	display: table-cell;
	width: 900px;

}

#actionTitle{
	margin-left: 100px;
	width: 800px;
	height: 300px;
}





������� footer �ּ�
footer {
	width: 970px;
	height: 60px;
	background-color: #FAFAD2;
	color: #000000;
	text-align: left;
	padding: 15px;
	margin: 30px 15px 10px 10px;
	font-size: 100%;
}

#tableFooter{
	display:table; 
}
#tableFooterRow{
	display: table-row;
}

section#groupName {
	display:table-cell;
	vertical-align: middle;
	width: 300px;	
}

section#alliance {
	display:table-cell;
	vertical-align: middle;
	width: 90px;	
}

section#naver {
	display:table-cell;
	vertical-align: middle;
	width: 140px;	
}

section#google {
	display:table-cell;
	vertical-align: middle;
	width: 140px;	
}

section#daum {
	display:table-cell;
	vertical-align: top;
	width: 160px;	
}


section#notAlliance {
	display:table-cell;
	vertical-align: top;
	width: 90px;	
}

section#auction {
	display:table-cell;
	vertical-align: top;
	width: 140px;	
}

������� footer �ּ�


 */