<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Action</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MemberController</display-name>
    <servlet-name>MemberController</servlet-name>
    <servlet-class>action.web.controller.MemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberController</servlet-name>
    <url-pattern>/MemberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuctionBoardController</display-name>
    <servlet-name>AuctionBoardController</servlet-name>
    <servlet-class>action.web.controller.AuctionBoardController</servlet-class>
    <init-param>
      <param-name>uploadDir</param-name>
      <param-value>img</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuctionBoardController</servlet-name>
    <url-pattern>/AuctionBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QnABoardController</display-name>
    <servlet-name>QnABoardController</servlet-name>
    <servlet-class>action.web.controller.QnABoardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QnABoardController</servlet-name>
    <url-pattern>/QnABoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FreeBoardController</display-name>
    <servlet-name>FreeBoardController</servlet-name>
    <servlet-class>action.web.controller.FreeBoardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FreeBoardController</servlet-name>
    <url-pattern>/FreeBoard</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/exceptionPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>action.web.filter.EncodingFilter</filter-class>
    <init-param>
      <description></description>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <servlet-name>MemberController</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <servlet-name>AuctionBoardController</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <servlet-name>FreeBoardController</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <servlet-name>QnABoardController</servlet-name>
  </filter-mapping>
</web-app>